<h2>רשימת דיירים</h2>
<!--למה רק אחרי לחיצה כפולה הוא מציג לי את הטבלה-->
<!--<label for="dayar">list</label><br/> 
      <select id="dayar" name="listDayarim"> 
       
          <option *ngFor="let dayar of listDayarim" > {{dayar.FirstName}}</option>
      </select >
      <br/>--><!--[(ngModel)]="building.CityId"  [ngValue]="city.CityId"-->
   
<div *ngIf="isShow===true">
    <input type="text" placeholder="...חיפוש דייר" [(ngModel)]="search"/><input class="buttons" type="button" value="search" (click)="sortByName()"><br>
   <button (click)="back()">חזור</button> 
<table class="table">
    <thead>
        <tr *ngIf="dayarSer.dayar.IsHouseCommittee" class="th"><th class="topic" *ngFor="let topic of topics">  {{topic}}  </th></tr>
        <tr *ngIf="!dayarSer.dayar.IsHouseCommittee" class="th"><th class="topic" *ngFor="let topic2 of topics2">  {{topic2}}  </th></tr>
       
    <tr class="td" *ngFor="let Dayar of dayarSer.listD"> 
        <td *ngIf="dayarSer.dayar.IsHouseCommittee"><button (click)="edit(Dayar)">✍🏻</button></td> <!--*ngIf="dayar.IsHouseCommittee==true"-->
        <td *ngIf="dayarSer.dayar.IsHouseCommittee">₪{{Dayar.SumToMonth}}</td>
        <td >{{Dayar.MailAddress}}</td>
        <td >{{Dayar.Phone}}</td>
        <td >דירה  {{Dayar.NumFlat}}</td>
        <td >{{Dayar.LastName}}</td>
        <td *ngIf="!Dayar.FirstName">דירה - {{Dayar.NumFlat}}</td>
        <td >{{Dayar.FirstName}}</td>  
   
        </tr>   
   </thead>
</table>
</div><!--dayarSer.listD-->
<div *ngIf="isShow===false">
    <app-edit-dayar [dayar]="dayarToEdit" (onSave)="onMySave($event)"></app-edit-dayar><!---->
</div>