<div *ngIf="isShow===0">
<h2>דשבורד</h2>
<!-- <table>
   <tr><td>: מצב חשבון(משוערך)  <h2>₪{{deshbord.Yetera}}</h2></td><td></td><td></td><td></td></tr> 
   <tr><td></td><td><p>יתרה לאחר ההוצאות</p><h2>₪{{deshbord.Yetera}}</h2></td><td><p>הוצאות</p><h2>₪{{deshbord.Hotzaot}}</h2><button (click)="editHotzaot(deshbord)">🖊</button></td><td><p>הכנסות</p><h2>₪{{deshbord.Hachnasot}}</h2><button (click)="editHachnasot(deshbord)">🖊</button></td></tr> 
   <tr><td></td><td></td><td><p>תקלות שנסגרו</p><h2>{{deshbord.TakalotShenisgeru}}</h2></td><td><p>תקלות בטיפול</p><h2>{{deshbord.TakalotBetipul}}</h2></td></tr> 
</table> -->
: מצב חשבון(משוערך)  <h2>₪{{deshbord.Yetera}}</h2>
<p>הכנסות</p><h2>₪{{deshbord.Hachnasot}}</h2><button *ngIf="dayarSer.dayar.IsHouseCommittee" routerLink="/headCommittee/hachnasot" >+</button><!--(click)="editHachnasot(deshbord)"-->
<p>הוצאות</p><h2>₪{{deshbord.Hotzaot}}</h2><button *ngIf="dayarSer.dayar.IsHouseCommittee" routerLink="/headCommittee/hotzaot" >-</button><!--(click)="editHotzaot(deshbord)"-->
<p>יתרה לאחר ההוצאות</p><h2>₪{{deshbord.Yetera}}</h2>
<!-- <p>תקלות פתוחות</p> -->
<p>תקלות בטיפול</p><h2>{{deshbord.TakalotBetipul}}</h2>
<p>תקלות שנסגרו</p><h2>{{deshbord.TakalotShenisgeru}}</h2>
</div>
<div *ngIf="isShow===1">
    <app-hachnasot [deshbord]="deshbordToEdit" (onSave)="onMySave($event)"></app-hachnasot>
</div>
 <div *ngIf="isShow===2">
    <app-hotzaot [deshbord]="deshbordToEdit" (onSave)="onMySave($event)"></app-hotzaot>
</div> 
<!--  פה אמור להיות גרף דשבורד נתונים -->
