
<div class="container mt-3">
  {{this.d.dayar.FirstName}}
  {{ this.d.dayar.LastName}}
  <!--פה אמור להציג את שם המשתמש שנכנס -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/deshbord">דשבורד</a><!--deshbord-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/discourse-dayarim">שיח דיירים</a><!--discourse-dayarim-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/list-dayarim">רשימת דיירים</a><!--list-dayarim-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/surveys">סקרים</a><!--surveys-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/committee-payments">תשלומי ועד</a><!--committee-payments-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/special-payments">תשלומים מיוחדים</a><!--special-payments-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/expenses">הוצאות</a><!--expenses-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/suppliers">ספקים</a><!--suppliers-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/bank-transfers">העברות לבנק</a><!--bank-transfers-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/documents">מסמכים</a><!--documents-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/faults">תקלות</a><!--faults-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/headCommittee/messages">הודעות</a><!--messages-->
      </li>
     
    </ul>
  </div>
<router-outlet></router-outlet>