
<nav class="nav">
<a routerLink="/newCommittee">📞חבר חדש</a>
<a href="#aboutUs">__אודותינו__</a>
<a href="#contact">יצירת קשר</a>
</nav>
<div class="center">
<p>התחברות דיירים / ועד בית</p>

<h3> קיבלת קוד התחברות ראשונית? לחץ כאן</h3>
    <input class="input" placeholder='הכנס את כתובת המייל שלך' [(ngModel)]="d.MailAddress" name="mail"/> <br><br>
    <input class="input" type="password" placeholder='הכנס סיסמה' [(ngModel)]="d.PsWord" name="pass"/><br><br>
    <button class="buttons" (click)="enter()">התחבר</button> <!--head-committee--><br><br><br>
    <!-- <p>...אחינועם שלושת הקישורים פה למטה הם לא אמורים להיות פה בעיקרון אז  אל תתיחסי אליהם זה דפים שאמורים להשלח למייל של הדיירים אני באמצע.</p>
<a routerLink="/password-change">
    אישור רישום ושינוי סיסמה
</a><br>
<a routerLink="/send-reminder" >
    שליחת תזכורת
</a><br>
<a routerLink="/response-survey">
   שליחת קישור לסקר
</a> -->

<p id="aboutUs">?מה הוא יכול לעשות עבורכם</p>
<h2>אלו רק חלק מהיכולות המדהימות של וועד חכם</h2>
------<br><br>
<table>
<tr>
    <td>ניהול ודיווח תקלות<h3>כל דייירי הבניין יוכלו לדווח על תקלות ולקבל<br>.עדכון על טיפולן ועלות הטיפול</h3></td>
    <td>החלטות משותפות<h3>תוכלו ליצור סקרים ולהחליט ביחד מה יהיה אופי  <br>הגינה החדשה, או איזה סוג שיפוץ יבוצע בחלל<br>.הכניסה</h3></td>
    <td>תזכורות לתשלומים<h3>מהיום לדיירים בבניין<br>יהיה אפשרות לקבל <br> תזכורות למייל עבור תשלומים</h3></td>
</tr>
<tr>
    <td>ניהול הבניין<h3>,ניהול תהליכי היום יום תוך מיקוד בחסכון בזמן<br> .חסכון והתייעלות</h3></td>
    <td>הודעות בין הדיירים<h3>הלוח מאפשר דו שיח בין כל דיירי הבניין <br>,בצורה פשוטה וידידותית<br> ...'וזהו בדיוק המקום להעלות סיכום של ישיבת הועד וכו</h3></td>
    <td>צפייה בהוצאות והכנסות<h3>כל דיירי הבניין יוכלו לצפות<br>באופן גורף בניהול הוצאות <br> .והכנסות בבנייין</h3></td>
</tr>
</table><br><br><br>
 <p id="contact">יצירת קשר</p>
       <h2> נשמח לעזור ולענות על כל שאלה שתעלה</h2>
       <table>
           <tr><td>עקבו אחרינו בפייסבוק<h3>חברים 245</h3></td><td>צלצלו אלינו<h3>0735422567</h3></td><td>שלחו לנו מייל<h3>לחצו כאן</h3></td></tr>
       </table>
</div>