

<div class="center">
  <h1>אשף יצירת בניין חדש</h1>
  <a routerLink="/headCommittee/creatingBuilding">הגדרת בניין</a><a routerLink="/headCommittee/dayarDetails"> > פרטי דיירים > </a><a routerLink="/headCommittee/bankAccount">חשבון בנק</a>
    <h2>כתובת הבניין</h2>
<form >
       <label for="city">: עיר</label><br/> 
       <input class="input" #city=ngModel id="city" name="city" type="string" required [(ngModel)]="building.city"/>  
        <div [hidden]="city.valid || city.pristine">שדה חובה*</div>
        <br/>
        <label for="Street">: רחוב</label><br/>
        <input class="input" #Street=ngModel id="Street" name="Street" type="string" required [(ngModel)]="building.Street"/> 
        <div [hidden]="Street.valid || Street.pristine">שדה חובה*</div>
        <br/>
        <label for="NumBuilding">: מספר בית</label><br/>
        <input class="input" #NumBuilding=ngModel id="NumBuilding" name="NumBuilding" type="number" required [(ngModel)]="building.NumBuilding"/>        
        <div [hidden]="NumBuilding.valid || NumBuilding.pristine">שדה חובה*</div>
        <br/>
        <label for="entry">: כניסה</label><br/>
        <input class="input" #entry=ngModel id="entry" name="entry" type="string" required [(ngModel)]="building.entry"/> 
        
       <!-- <div [hidden]="entry.valid || entry.pristine">שדה חובה*</div>-->
        <br/><br/>
    
    </form>
    <h2>פרטי הבניין</h2>
    <input class="input" id="numOfFlats" name="numOfFlats" type="number" /> 
    <label for="numOfFlats"> :מספר דירות</label>
   
       <br/>
       תזכורות תשלום אוטומטיות<input type="checkbox">
      <br/>
   ?תשלומי ועד הבית זהים בין כל הדיירים <input name="samePay" type="checkbox"><!--במקרה שנבחר יציג את תיבת הטקסט הבאה
<input type="number">תשלום חודשי:-->
 
  </div>
  <button class="buttons" routerLink="/headCommittee/dayarDetails">הבא</button>
    
