<div class="center">
    <h1>אשף יצירת בניין חדש</h1>
      <a routerLink="/headCommittee/creatingBuilding">הגדרת בניין</a><a routerLink="/headCommittee/dayarDetails"> > פרטי דיירים > </a><a routerLink="/headCommittee/bankAccount">חשבון בנק</a>
    <!---->
    <h2>פרטי חשבון בנק הוועד</h2>
    <p>על מנת שנוכל להפקיד לכם את כספי הוועד שייגבו באשראי אנא מלאו את פרטי חשבון בנק הוועד</p>
    <form > 
        <label for="firstName">: שם בעל החשבון</label><br/> 
        <input class="input"  id="firstName"  type="string"/>  
         <br/>
         <label for="firstName">: שם הבנק</label><br/> 
        <input class="input"  id="firstName"  type="string"/>  
         <br/>
         <label for="firstName">: שם/מספר הסניף</label><br/> 
        <input class="input"  id="firstName"  type="string"/>  
         <br/>
         <label for="firstName">: מספר חשבון</label><br/> 
        <input class="input"  id="firstName"  type="string"/>  
         <br/>
         <label for="firstName">: יתרת פתיחה</label><br/> 
        <input class="input"  id="firstName"  type="string"/>  
         <br/>
         <p><label for="firstName">: יתרת פתיחה</label><br/> 
        <input class="input"  id="firstName"  type="string" disabled/>  
         <br/>
         <p>העלה תעודה מזהה🔗   </p><p>  העלה מסמך🔗</p> 
         
    </form>
</div>
<button class="buttons" routerLink="/headCommittee/deshbord">הבא</button>
<button class="buttons" routerLink="/headCommittee/dayarDetails">חזור</button>
