
<div class="container mt-3">
  {{this.d.dayar.FirstName}}
  {{this.d.dayar.LastName}}<br>
  {{this.building.Street}}
  {{this.building.NumBuilding}}<br>
  {{this.building.CityId}}
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/deshbord">דשבורד</a><!--deshbord-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/discourse-dayarim">לול הודעות דיגיטלי</a><!--discourse-dayarim-->
      </li>
      <!--עם שינויים קלים-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/list-dayarim">רשימת דיירים</a><!--list-dayarim-->
      </li>
      <!--עם שינויים קלים-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/surveys">סקרים</a><!--surveys-->
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/payments">תשלומים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/receipts">קבלות</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/expenses">הוצאות</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/documents">מסמכים</a>
      </li> -->
       <!--?עם שינויים קלים-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/faults">תקלות</a><!--faults-->
      </li>
     
    </ul>
  </div>
<router-outlet></router-outlet>