<h2>שיח דיירים</h2>
<label for="MessageContent"></label>

<input class="input" #MessageContent=ngModel id="MessageContent" name="MessageContent" type="string" placeholder="כתוב את ההודעה שלך כאן" required [(ngModel)]="message.MessageContent"/><br>
<button class="buttons" (click)="addMessage();MessageContent.reset()">הוסף הודעה</button> 
<!-- <p>הוסף קובץ🔗</p><input type="file" name="file1"> -->
<ul>
   
    <li *ngFor="let m of messageSer.listMessages">
        {{m.MessageContent}}<br>{{m.TimeMessage|date:'dd/MM/yyyy'}}--{{m.TimeMessage|date:'HH:mm'}}--{{m.SenderName}}
        
    </li><br>
    <li>!שלום לכל דיירי הבניין<br><br>

           אנחנו גאים להציג לכם את לוח שיח הדיירים החדש של ועד חכם<br>
        .הלוח מאפשר דו שיח בין כל דיירי הבניין בצורה פשוטה וידידותית<br>
        .כל אחד מהדיירים יכול לכתוב פוסט ללוח וכל אחד מהדיירים האחרים יכול להוסיף תגובה<br>
        ...זהו בדיוק המקום לכתוב סיכום של ישיבת הועד, או סתם לשאול אם למישהו יש סוכר שאפשר להלוות 
        </li>
</ul>
<!--<div  *ngFor="let m of messageSer.listMessages">
    <iframe width="90%" height="70" frameborder="1">
       {{m.MessageContent}}
    </iframe >
</div>-->